# Social Network Analysis

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from scipy import stats
import igraph as ig
import networkx as nx

## Descriptive Gender Analysis

In [2]:
#Load data into dataframe
nodes = pd.read_csv(r'/Users/PJMoon/Data_Science_Projects/SNA/Assortativity/Nodes with attributes.csv')
link = pd.read_csv(r'/Users/PJMoon/Data_Science_Projects/SNA/Assortativity/Links - Intragroup.csv')

#Select columns of interst from node data 
nodes = nodes[['ID','Gender']]

#Out-degree statistics by Gender and Label
link_source = link.rename(columns = {'Source': "ID"})
out_degree = pd.merge(link_source,nodes,how='left',on = 'ID')
by_label_out_degree = out_degree.groupby(['Gender','Label']).ID.count().reset_index()

#In-degree statistics by Gender and Label
link_source2 = link.rename(columns = {"Target":"ID"})
in_degree = pd.merge(link_source2,nodes,how='left',on = 'ID')
by_label_in_degree = in_degree.groupby(['Gender','Label']).ID.count().reset_index()

#Gender to gender in and out degree statistics 
in_degree.rename(columns = {'Gender': 'Gender_in','ID': 'Target2','Source':'Source2','Label':'Label2'},inplace=True)
out_degree.rename(columns = {'Gender': 'Gender_out','ID': 'Source'},inplace=True)
combined = pd.concat([out_degree,in_degree],axis=1)
combined = combined[['Source','Target','Label','Gender_out','Gender_in']]
gender_to_gender = combined.groupby(['Gender_out','Gender_in']).Source.count().reset_index()

In [3]:
#print nodes
nodes

         ID  Gender
0    428634  Female
1    428764  Female
2    428881  Female
3    428738  Female
4    428803  Female
..      ...     ...
607  428244  Female
608  428192    Male
609  428231    Male
610  442219    Male
611  428933    Male

[612 rows x 2 columns]

In [4]:
#print a number of out-degree by gender and label
by_label_out_degree

    Gender               Label   ID
0   Female              Access   96
1   Female  Career Development  165
2   Female     Decision Making  230
3   Female              Energy  321
4   Female          Innovation  220
5   Female    Personal Support  234
6   Female     Problem Solving  298
7   Female            Strategy  196
8   Female               Trust  274
9     Male              Access  133
10    Male  Career Development  236
11    Male     Decision Making  379
12    Male              Energy  445
13    Male          Innovation  376
14    Male    Personal Support  260
15    Male     Problem Solving  451
16    Male            Strategy  349
17    Male               Trust  430

In [5]:
#print a number of in-degree by gender and label
by_label_in_degree

    Gender               Label   ID
0   Female              Access   62
1   Female  Career Development  135
2   Female     Decision Making  199
3   Female              Energy  308
4   Female          Innovation  198
5   Female    Personal Support  213
6   Female     Problem Solving  247
7   Female            Strategy  117
8   Female               Trust  237
9     Male              Access  167
10    Male  Career Development  266
11    Male     Decision Making  410
12    Male              Energy  458
13    Male          Innovation  398
14    Male    Personal Support  281
15    Male     Problem Solving  502
16    Male            Strategy  428
17    Male               Trust  467

In [6]:
#print a number of degrees between genders
gender_to_gender

  Gender_out Gender_in  Source
0     Female    Female    1010
1     Female      Male    1024
2       Male    Female     706
3       Male      Male    2353

In [7]:
#Gender to gender statistics by label
label = combined['Label'].unique()
for i in range(0,len(label)):
    sector = combined[combined['Label'] == label[i]]
    a = sector.groupby(['Gender_out','Gender_in']).Source.count().reset_index()
    b= print('{0}'.format(label[i]),a)

Energy   Gender_out Gender_in  Source
0     Female    Female     190
1     Female      Male     131
2       Male    Female     118
3       Male      Male     327
Trust   Gender_out Gender_in  Source
0     Female    Female     137
1     Female      Male     137
2       Male    Female     100
3       Male      Male     330
Career Development   Gender_out Gender_in  Source
0     Female    Female      81
1     Female      Male      84
2       Male    Female      54
3       Male      Male     182
Personal Support   Gender_out Gender_in  Source
0     Female    Female     154
1     Female      Male      80
2       Male    Female      59
3       Male      Male     201
Decision Making   Gender_out Gender_in  Source
0     Female    Female     114
1     Female      Male     116
2       Male    Female      85
3       Male      Male     294
Access   Gender_out Gender_in  Source
0     Female    Female      34
1     Female      Male      62
2       Male    Female      28
3       Male      Male     105
Innovation   Gender_out Gender_in  Source
0     Female    Female     105
1     Female      Male     115
2       Male    Female      93
3       Male      Male     283
Problem Solving   Gender_out Gender_in  Source
0     Female    Female     142
1     Female      Male     156
2       Male    Female     105
3       Male      Male     346
Strategy   Gender_out Gender_in  Source
0     Female    Female      53
1     Female      Male     143
2       Male    Female      64
3       Male      Male     285

## Gender Assortativity

In [8]:
#Link data preprocessing
a = [i for i in range(0,612)]
nodes['ID2']= a
nodes2 = nodes.rename(columns = {'ID':'Target','ID2':'ID_Target'})
link2 = link[['Source','Target']]
link2 = link2.rename(columns = {'Source' : 'ID'})
link3 = pd.merge(link2,nodes,how='left')
link4 = pd.merge(link3,nodes2,how='left',on='Target')
link_final = link4[['ID2','ID_Target']]
link_final = link_final.rename(columns = {'ID2':'Source','ID_Target':'Target'})
link_final['link'] = list(zip(link_final['Source'],link_final['Target']))
link_final = link_final['link']

#Node data preprocessing
nodes_network = nodes[['ID','Gender']]
nodes_network['Gender2'] = nodes_network['Gender'].map({'Female':1, 'Male':2})

#Creating a network and compute the assortativity
nodes_network['ID'] = [i for i in range(0,612)]
g = ig.Graph()
g.add_vertices([i for i in range(0,612)])
g.add_edges(link_final)
g.vs['Gender'] = nodes_network['Gender2']
print('The assortativity of the network is {0}'.format(g.assortativity_nominal('Gender',directed=True)))

The assortativity of the network is 0.26986616946343467

In [9]:
g.assortativity_degree(directed=True)

0.04431813418505621

In [10]:
layout = g.layout('kamada_kawai')

In [11]:
plot(g,layout = layout)

NameError: name 'plot' is not defined

## Gender Assortativity By Label

In [12]:
link_label = link[['Source','Target','Label']]
link_label = link_label.rename(columns = {'Source' : 'ID'})
link_label2=pd.merge(link_label,nodes,how='left')
link_label3 = pd.merge(link_label2,nodes2,how='left', on='Target')

In [19]:
link_label3

          ID  Target               Label Gender_x  ID2 Gender_y  ID_Target
0     427685  428855              Energy   Female  150   Female          8
1     428309  428686               Trust     Male  188     Male        524
2     428309  428686  Career Development     Male  188     Male        524
3     428309  428686    Personal Support     Male  188     Male        524
4     428309  428686     Decision Making     Male  188     Male        524
...      ...     ...                 ...      ...  ...      ...        ...
5088  427919  428049              Access     Male  494     Male        600
5089  427919  428049    Personal Support     Male  494     Male        600
5090  427919  428049     Decision Making     Male  494     Male        600
5091  427932  427958               Trust     Male  276     Male        511
5092  427932  427958              Energy     Male  276     Male        511

[5093 rows x 7 columns]

In [20]:
link_label_final = link_label3[['ID2','ID_Target','Label']]

In [21]:
link_label_final = link_label_final.rename(columns = {'ID2': 'Source','ID_Target':'Target'})

In [22]:
link_label_final

      Source  Target               Label
0        150       8              Energy
1        188     524               Trust
2        188     524  Career Development
3        188     524    Personal Support
4        188     524     Decision Making
...      ...     ...                 ...
5088     494     600              Access
5089     494     600    Personal Support
5090     494     600     Decision Making
5091     276     511               Trust
5092     276     511              Energy

[5093 rows x 3 columns]

In [23]:
link_label_final['link'] = list(zip(link_label_final['Source'],link_label_final['Target']))

In [24]:
link_label_final = link_label_final[['link','Label']]

In [25]:
link_label_final

            link               Label
0       (150, 8)              Energy
1     (188, 524)               Trust
2     (188, 524)  Career Development
3     (188, 524)    Personal Support
4     (188, 524)     Decision Making
...          ...                 ...
5088  (494, 600)              Access
5089  (494, 600)    Personal Support
5090  (494, 600)     Decision Making
5091  (276, 511)               Trust
5092  (276, 511)              Energy

[5093 rows x 2 columns]

In [26]:
nodes_network

      ID  Gender  Gender2
0      0  Female        1
1      1  Female        1
2      2  Female        1
3      3  Female        1
4      4  Female        1
..   ...     ...      ...
607  607  Female        1
608  608    Male        2
609  609    Male        2
610  610    Male        2
611  611    Male        2

[612 rows x 3 columns]

In [27]:
labels = link_label_final['Label'].unique()

In [28]:
labels

array(['Energy', 'Trust', 'Career Development', 'Personal Support',
       'Decision Making', 'Access', 'Innovation', 'Problem Solving',
       'Strategy'], dtype=object)

In [29]:
link_data_by_label = []
for label in labels:
    new_label = link_label_final[link_label_final['Label'] == label]
    link_data_by_label.append(new_label)

In [30]:
link_data_by_label

[            link   Label
 0       (150, 8)  Energy
 5     (188, 524)  Energy
 16    (521, 191)  Energy
 31    (189, 193)  Energy
 38    (185, 527)  Energy
 ...          ...     ...
 5066  (541, 166)  Energy
 5068  (541, 598)  Energy
 5070  (496, 511)  Energy
 5079  (167, 153)  Energy
 5092  (276, 511)  Energy

 [766 rows x 2 columns],
             link  Label
 1     (188, 524)  Trust
 10    (527, 187)  Trust
 18    (521, 182)  Trust
 25    (517, 187)  Trust
 30    (189, 193)  Trust
 ...          ...    ...
 5048  (175, 600)  Trust
 5064  (196, 508)  Trust
 5071  (223, 508)  Trust
 5080  (167, 174)  Trust
 5091  (276, 511)  Trust

 [704 rows x 2 columns],
             link               Label
 2     (188, 524)  Career Development
 12    (527, 187)  Career Development
 15    (521, 191)  Career Development
 20    (521, 182)  Career Development
 26    (517, 187)  Career Development
 ...          ...                 ...
 4990  (500, 167)  Career Development
 5004  (160, 494)  Career Development
 5028  (176, 494)  Career Development
 5042  (499, 502)  Career Development
 5072  (223, 508)  Career Development

 [401 rows x 2 columns],
             link             Label
 3     (188, 524)  Personal Support
 13    (527, 187)  Personal Support
 21    (521, 182)  Personal Support
 27    (517, 187)  Personal Support
 28    (189, 181)  Personal Support
 ...          ...               ...
 5065  (196, 511)  Personal Support
 5067  (541, 598)  Personal Support
 5082  (167, 174)  Personal Support
 5084  (494, 170)  Personal Support
 5089  (494, 600)  Personal Support

 [494 rows x 2 columns],
             link            Label
 4     (188, 524)  Decision Making
 14    (527, 187)  Decision Making
 22    (521, 182)  Decision Making
 24    (517, 517)  Decision Making
 35    (189, 182)  Decision Making
 ...          ...              ...
 5058   (24, 511)  Decision Making
 5076  (303, 167)  Decision Making
 5083  (167, 174)  Decision Making
 5087  (494, 502)  Decision Making
 5090  (494, 600)  Decision Making

 [609 rows x 2 columns],
             link   Label
 6     (188, 187)  Access
 7       (527, 4)  Access
 8     (527, 523)  Access
 9       (527, 7)  Access
 29    (189, 183)  Access
 ...          ...     ...
 5039  (499, 502)  Access
 5052  (467, 167)  Access
 5085  (494, 511)  Access
 5086  (494, 502)  Access
 5088  (494, 600)  Access

 [229 rows x 2 columns],
             link       Label
 11    (527, 187)  Innovation
 17    (521, 529)  Innovation
 32    (189, 182)  Innovation
 42    (185, 187)  Innovation
 49      (531, 8)  Innovation
 ...          ...         ...
 5060   (30, 494)  Innovation
 5061   (30, 511)  Innovation
 5062   (30, 502)  Innovation
 5063   (30, 600)  Innovation
 5078   (91, 163)  Innovation

 [596 rows x 2 columns],
             link            Label
 19    (521, 182)  Problem Solving
 23    (517, 517)  Problem Solving
 33    (189, 182)  Problem Solving
 43    (185, 187)  Problem Solving
 55    (531, 182)  Problem Solving
 ...          ...              ...
 5057   (24, 511)  Problem Solving
 5069  (544, 511)  Problem Solving
 5073  (303, 174)  Problem Solving
 5075  (303, 167)  Problem Solving
 5081  (167, 174)  Problem Solving

 [749 rows x 2 columns],
             link     Label
 36    (189, 187)  Strategy
 45    (185, 187)  Strategy
 65    (531, 187)  Strategy
 72    (530, 191)  Strategy
 81    (530, 182)  Strategy
 ...          ...       ...
 4981  (503, 167)  Strategy
 5014  (166, 600)  Strategy
 5031  (176, 494)  Strategy
 5074  (303, 174)  Strategy
 5077  (303, 167)  Strategy

 [545 rows x 2 columns]]

In [31]:
nodes_network

      ID  Gender  Gender2
0      0  Female        1
1      1  Female        1
2      2  Female        1
3      3  Female        1
4      4  Female        1
..   ...     ...      ...
607  607  Female        1
608  608    Male        2
609  609    Male        2
610  610    Male        2
611  611    Male        2

[612 rows x 3 columns]

In [32]:
node_final = [i for i in range(0,612)]

In [33]:
assortativity=[]

In [34]:
for datum in link_data_by_label:
    g = ig.Graph()
    g.add_vertices(node_final)
    g.add_edges(datum['link'])
    g.vs['Gender'] = nodes_network['Gender2']
    temp = g.assortativity_nominal('Gender',directed = True)
    assortativity.append(temp)

In [35]:
assortativity

[0.32838603700436797,
 0.27198947568214993,
 0.2650996015936256,
 0.4321064231868238,
 0.276715679757505,
 0.1303797468354431,
 0.23365849436840877,
 0.24722893422027978,
 0.0722488805555895]

In [36]:
assortativity_label = {key: value for key, value in zip(labels,assortativity)}

In [37]:
assortativity_label

{'Energy': 0.32838603700436797,
 'Trust': 0.27198947568214993,
 'Career Development': 0.2650996015936256,
 'Personal Support': 0.4321064231868238,
 'Decision Making': 0.276715679757505,
 'Access': 0.1303797468354431,
 'Innovation': 0.23365849436840877,
 'Problem Solving': 0.24722893422027978,
 'Strategy': 0.0722488805555895}