In [73]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from scipy import stats
import igraph as ig
import networkx as nx

In [74]:
nodes = pd.read_csv(r'/Users/PJMoon/Data_Science_Projects/SNA/Assortativity/Nodes with attributes.csv')

In [75]:
link = pd.read_csv(r'/Users/PJMoon/Data_Science_Projects/SNA/Assortativity/Links - Intragroup.csv')

In [76]:
nodes

,ID,Full Name,Invited,Responded,Organization,Division,Function/Deparment,Title,Level,Location,Tenure,Manager,Team,Gender
0,428634,Agnes Friesen,YES,NO,Ortho,Andrew Corkum,Selling - Commercial,Ortho Care Laboratory Specialist,25.0,Canada - Work From Home,384.0,Marie-claude Renaud,OT25,Female
1,428764,Barbara Schonewille,YES,YES,Ortho,Andrew Corkum,Selling - Commercial,Account Manager - Alberta Canada Territory,25.0,Canada - Work From Home,12.0,Andrew Corkum,OT3,Female
2,428881,Carli-Ann Garnett,YES,YES,Ortho,Andrew Corkum,Marketing - Commercial,"Manager, IH Marketing and Commercial Excellence",30.0,Canada - Work From Home,12.0,Andrew Corkum,OT3,Female
3,428738,Cheryl Dosen,YES,YES,Ortho,Andrew Corkum,Selling - Commercial,Account Manager - West,25.0,Canada - Work From Home,240.0,Andrew Corkum,OT3,Female
4,428803,Helene Goulet,YES,YES,Ortho,Andrew Corkum,Selling - Commercial,National Automation Specialist,26.0,Canada - Work From Home,72.0,Andrew Corkum,OT3,Female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,428244,Kristy Hanson,YES,NO,Ortho,Michael Iskra,Selling - Commercial,Area Vice President Central Region,41.0,US - Work From Home,36.0,Michael Iskra,"OT26,OT22",Female
608,428192,Patrick Rigby,YES,YES,Ortho,Michael Iskra,CNIS - OrthoCare & Warranty,SR Director NA Ortho Care Service,41.0,US - Work From Home,432.0,Michael Iskra,"OT26,OT34",Male
609,428231,Timothy Adams,YES,YES,Ortho,Michael Iskra,Selling - Commercial,Area Vice President Sales Eastern Region,41.0,US - Work From Home,36.0,Michael Iskra,"OT26,OT43",Male
610,442219,Michael Iskra,YES,YES,Ortho,Michael Iskra,0,0,NaN,NaN,NaN,Michael Iskra,OT26,Male
611,428933,Andrew Corkum,YES,YES,Ortho,Michael Iskra,Selling - Commercial,Canada Country Director,41.0,Canada - Markham,12.0,Michael Iskra,"OT26,OT3",Male

In [77]:
nodes.ID

0      428634
1      428764
2      428881
3      428738
4      428803
        ...
607    428244
608    428192
609    428231
610    442219
611    428933
Name: ID, Length: 612, dtype: int64

In [78]:
a = nodes.ID.unique()

In [79]:
b=link.Source.unique()

In [80]:
nodes['ID'].nunique()

612

In [81]:
nodes = nodes[['ID','Gender']]

In [82]:
link_source = link.rename(columns = {'Source': "ID"})

In [83]:
out_degree = pd.merge(link_source,nodes,how='left',on = 'ID')

In [84]:
by_label_out_degree = out_degree.groupby(['Gender','Label']).ID.count().reset_index()

In [85]:
by_label_out_degree

    Gender               Label   ID
0   Female              Access   96
1   Female  Career Development  165
2   Female     Decision Making  230
3   Female              Energy  321
4   Female          Innovation  220
5   Female    Personal Support  234
6   Female     Problem Solving  298
7   Female            Strategy  196
8   Female               Trust  274
9     Male              Access  133
10    Male  Career Development  236
11    Male     Decision Making  379
12    Male              Energy  445
13    Male          Innovation  376
14    Male    Personal Support  260
15    Male     Problem Solving  451
16    Male            Strategy  349
17    Male               Trust  430

In [86]:
link_source2 = link.rename(columns = {"Target":"ID"})

In [87]:
in_degree = pd.merge(link_source2,nodes,how='left',on = 'ID')

In [88]:
by_label_in_degree = in_degree.groupby(['Gender','Label']).ID.count().reset_index()

In [89]:
by_label_in_degree

    Gender               Label   ID
0   Female              Access   62
1   Female  Career Development  135
2   Female     Decision Making  199
3   Female              Energy  308
4   Female          Innovation  198
5   Female    Personal Support  213
6   Female     Problem Solving  247
7   Female            Strategy  117
8   Female               Trust  237
9     Male              Access  167
10    Male  Career Development  266
11    Male     Decision Making  410
12    Male              Energy  458
13    Male          Innovation  398
14    Male    Personal Support  281
15    Male     Problem Solving  502
16    Male            Strategy  428
17    Male               Trust  467

In [90]:
in_degree.rename(columns = {'Gender': 'Gender_in','ID': 'Target2','Source':'Source2','Label':'Label2'},inplace=True)

In [91]:
out_degree.rename(columns = {'Gender': 'Gender_out','ID': 'Source'},inplace=True)

In [92]:
combined = pd.concat([out_degree,in_degree],axis=1)

In [93]:
combined = combined[['Source','Target','Label','Gender_out','Gender_in']]

In [94]:
combined

      Source  Target               Label Gender_out Gender_in
0     427685  428855              Energy     Female    Female
1     428309  428686               Trust       Male      Male
2     428309  428686  Career Development       Male      Male
3     428309  428686    Personal Support       Male      Male
4     428309  428686     Decision Making       Male      Male
...      ...     ...                 ...        ...       ...
5088  427919  428049              Access       Male      Male
5089  427919  428049    Personal Support       Male      Male
5090  427919  428049     Decision Making       Male      Male
5091  427932  427958               Trust       Male      Male
5092  427932  427958              Energy       Male      Male

[5093 rows x 5 columns]

In [95]:
same_gender = combined.groupby(['Gender_out','Gender_in']).Source.count().reset_index()

In [96]:
same_gender

  Gender_out Gender_in  Source
0     Female    Female    1010
1     Female      Male    1024
2       Male    Female     706
3       Male      Male    2353

In [97]:
label = combined['Label'].unique()

In [98]:
label

array(['Energy', 'Trust', 'Career Development', 'Personal Support',
       'Decision Making', 'Access', 'Innovation', 'Problem Solving',
       'Strategy'], dtype=object)

In [99]:
label[0]

'Energy'

In [100]:
for i in label:
    print(i)

Energy
Trust
Career Development
Personal Support
Decision Making
Access
Innovation
Problem Solving
Strategy

In [101]:
for i in range(0,len(label)):
    sector = combined[combined['Label'] == label[i]]
    a = sector.groupby(['Gender_out','Gender_in']).Source.count().reset_index()
    print('{0}'.format(label[i]),a)

Energy   Gender_out Gender_in  Source
0     Female    Female     190
1     Female      Male     131
2       Male    Female     118
3       Male      Male     327
Trust   Gender_out Gender_in  Source
0     Female    Female     137
1     Female      Male     137
2       Male    Female     100
3       Male      Male     330
Career Development   Gender_out Gender_in  Source
0     Female    Female      81
1     Female      Male      84
2       Male    Female      54
3       Male      Male     182
Personal Support   Gender_out Gender_in  Source
0     Female    Female     154
1     Female      Male      80
2       Male    Female      59
3       Male      Male     201
Decision Making   Gender_out Gender_in  Source
0     Female    Female     114
1     Female      Male     116
2       Male    Female      85
3       Male      Male     294
Access   Gender_out Gender_in  Source
0     Female    Female      34
1     Female      Male      62
2       Male    Female      28
3       Male      Male     105
Innovation   Gender_out Gender_in  Source
0     Female    Female     105
1     Female      Male     115
2       Male    Female      93
3       Male      Male     283
Problem Solving   Gender_out Gender_in  Source
0     Female    Female     142
1     Female      Male     156
2       Male    Female     105
3       Male      Male     346
Strategy   Gender_out Gender_in  Source
0     Female    Female      53
1     Female      Male     143
2       Male    Female      64
3       Male      Male     285

In [102]:
nodes

         ID  Gender
0    428634  Female
1    428764  Female
2    428881  Female
3    428738  Female
4    428803  Female
..      ...     ...
607  428244  Female
608  428192    Male
609  428231    Male
610  442219    Male
611  428933    Male

[612 rows x 2 columns]

In [107]:
a = [i for i in range(0,612)]

In [108]:
nodes['ID2']= a

<ipython-input-108-ddd0968a0471>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nodes['ID2']= a

In [109]:
nodes

         ID  Gender  ID2
0    428634  Female    0
1    428764  Female    1
2    428881  Female    2
3    428738  Female    3
4    428803  Female    4
..      ...     ...  ...
607  428244  Female  607
608  428192    Male  608
609  428231    Male  609
610  442219    Male  610
611  428933    Male  611

[612 rows x 3 columns]

In [103]:
link

      Source  Target               Label
0     427685  428855              Energy
1     428309  428686               Trust
2     428309  428686  Career Development
3     428309  428686    Personal Support
4     428309  428686     Decision Making
...      ...     ...                 ...
5088  427919  428049              Access
5089  427919  428049    Personal Support
5090  427919  428049     Decision Making
5091  427932  427958               Trust
5092  427932  427958              Energy

[5093 rows x 3 columns]

In [110]:
link2 = link[['Source','Target']]

In [112]:
link2 = link2.rename(columns = {'Source' : 'ID'})

In [113]:
link2

          ID  Target
0     427685  428855
1     428309  428686
2     428309  428686
3     428309  428686
4     428309  428686
...      ...     ...
5088  427919  428049
5089  427919  428049
5090  427919  428049
5091  427932  427958
5092  427932  427958

[5093 rows x 2 columns]

#### link3 = pd.merge(link2,nodes,how='left')

In [49]:
G = nx.from_pandas_edgelist(link,source = 'Source',target = 'Target')

In [71]:
G.add_nodes_from(nodes['ID'])

In [72]:
G.nodes.data()

NodeDataView({427685: {}, 428855: {}, 428309: {}, 428686: {}, 428920: {}, 428322: {}, 428803: {}, 428829: {}, 428907: {}, 428335: {}, 428660: {}, 428751: {}, 428868: {}, 428348: {}, 428361: {}, 428374: {}, 428504: {}, 428647: {}, 428387: {}, 428673: {}, 428413: {}, 428426: {}, 428439: {}, 428517: {}, 428296: {}, 428712: {}, 428790: {}, 428530: {}, 428738: {}, 428556: {}, 428881: {}, 428569: {}, 428582: {}, 428621: {}, 428595: {}, 428608: {}, 428725: {}, 428699: {}, 428491: {}, 428894: {}, 428764: {}, 428634: {}, 428816: {}, 428777: {}, 428842: {}, 428933: {}, 421055: {}, 424292: {}, 421458: {}, 421653: {}, 421471: {}, 426502: {}, 428075: {}, 421640: {}, 427880: {}, 428062: {}, 428153: {}, 428166: {}, 421718: {}, 422576: {}, 424747: {}, 423486: {}, 427425: {}, 424071: {}, 427126: {}, 427412: {}, 424110: {}, 424149: {}, 424188: {}, 424279: {}, 424669: {}, 425696: {}, 425878: {}, 425982: {}, 426476: {}, 426528: {}, 424136: {}, 424370: {}, 426385: {}, 427334: {}, 425800: {}, 426086: {}, 424123: {}, 425670: {}, 425813: {}, 424305: {}, 424396: {}, 424474: {}, 424695: {}, 427503: {}, 424721: {}, 427347: {}, 424734: {}, 424760: {}, 427620: {}, 424773: {}, 424799: {}, 426619: {}, 424825: {}, 427308: {}, 424838: {}, 427516: {}, 424851: {}, 424890: {}, 424903: {}, 427373: {}, 424929: {}, 424942: {}, 428140: {}, 424981: {}, 425020: {}, 427360: {}, 425033: {}, 425046: {}, 426671: {}, 425059: {}, 425085: {}, 425137: {}, 427555: {}, 425163: {}, 425202: {}, 427399: {}, 425215: {}, 425618: {}, 425683: {}, 426541: {}, 428179: {}, 425969: {}, 427321: {}, 425748: {}, 428127: {}, 425852: {}, 426047: {}, 426060: {}, 426099: {}, 426255: {}, 426268: {}, 426489: {}, 426554: {}, 426567: {}, 426606: {}, 426658: {}, 428023: {}, 426632: {}, 426684: {}, 426736: {}, 426762: {}, 427451: {}, 426775: {}, 426788: {}, 426853: {}, 426866: {}, 426879: {}, 426957: {}, 427074: {}, 427256: {}, 427464: {}, 427646: {}, 427438: {}, 427386: {}, 427477: {}, 427490: {}, 427529: {}, 427581: {}, 427594: {}, 427607: {}, 427724: {}, 427737: {}, 427750: {}, 427841: {}, 427893: {}, 427919: {}, 427932: {}, 427958: {}, 428257: {}, 442219: {}, 421029: {}, 421042: {}, 421081: {}, 423304: {}, 423369: {}, 424409: {}, 425956: {}, 426450: {}, 426463: {}, 427087: {}, 421211: {}, 421328: {}, 423278: {}, 421107: {}, 421003: {}, 421133: {}, 424344: {}, 421367: {}, 421406: {}, 421185: {}, 421263: {}, 421276: {}, 424357: {}, 425553: {}, 426359: {}, 421289: {}, 428270: {}, 421302: {}, 423408: {}, 421315: {}, 421341: {}, 421380: {}, 423434: {}, 424331: {}, 421393: {}, 423252: {}, 423265: {}, 427139: {}, 423382: {}, 423343: {}, 423395: {}, 421237: {}, 423421: {}, 423473: {}, 423499: {}, 423538: {}, 423525: {}, 423564: {}, 423577: {}, 423928: {}, 423954: {}, 423980: {}, 426034: {}, 424006: {}, 424019: {}, 424058: {}, 425501: {}, 425761: {}, 425891: {}, 426008: {}, 426112: {}, 426372: {}, 427165: {}, 427191: {}, 427217: {}, 421224: {}, 427789: {}, 428101: {}, 423317: {}, 427698: {}, 428088: {}, 423447: {}, 423460: {}, 427022: {}, 427763: {}, 428114: {}, 427204: {}, 424097: {}, 427282: {}, 425007: {}, 425150: {}, 425241: {}, 425709: {}, 427867: {}, 425826: {}, 427776: {}, 426021: {}, 427815: {}, 426645: {}, 427711: {}, 426801: {}, 426814: {}, 426892: {}, 426918: {}, 426944: {}, 426970: {}, 427802: {}, 427568: {}, 427633: {}, 427659: {}, 427906: {}, 427945: {}, 428010: {}, 428205: {}, 428218: {}, 421887: {}, 427971: {}, 422407: {}, 424864: {}, 422836: {}, 426723: {}, 424227: {}, 424500: {}, 427672: {}, 424253: {}, 425657: {}, 425735: {}, 425774: {}, 425189: {}, 424526: {}, 424682: {}, 424708: {}, 426749: {}, 427984: {}, 425072: {}, 425176: {}, 426593: {}, 427542: {}, 425631: {}, 426320: {}, 425540: {}, 425787: {}, 425904: {}, 426216: {}, 425930: {}, 426190: {}, 426424: {}, 427100: {}, 421900: {}, 421991: {}, 424812: {}, 422979: {}, 426125: {}, 426905: {}, 427997: {}, 424994: {}, 424422: {}, 423902: {}, 424435: {}, 424084: {}, 424786: {}, 426242: {}, 424240: {}, 426437: {}, 426333: {}, 424266: {}, 424318: {}, 424461: {}, 424539: {}, 424565: {}, 424630: {}, 426229: {}, 424955: {}, 426710: {}, 426931: {}, 425111: {}, 426164: {}, 425579: {}, 425644: {}, 425943: {}, 426840: {}, 426346: {}, 427061: {}, 427854: {}, 428192: {}, 423993: {}, 421796: {}, 422030: {}, 422056: {}, 422563: {}, 422810: {}, 422875: {}, 422888: {}, 423148: {}, 428244: {}, 428231: {}, 423629: {}, 423889: {}, 424201: {}, 424383: {}, 424552: {}, 425124: {}, 425293: {}, 425436: {}, 425605: {}, 425839: {}, 426138: {}, 426177: {}, 426294: {}, 426307: {}, 426398: {}, 426411: {}, 426996: {}, 427009: {}, 427113: {}, 427178: {}, 427230: {}, 427295: {}, 427828: {}, 428036: {}, 421146: {}, 422693: {}, 422277: {}, 422316: {}, 422667: {}, 421419: {}, 425254: {}, 421484: {}, 421744: {}, 421939: {}, 422160: {}, 423720: {}, 425475: {}, 421510: {}, 421614: {}, 423772: {}, 425384: {}, 421666: {}, 421679: {}, 421783: {}, 422914: {}, 423837: {}, 423850: {}, 425332: {}, 421731: {}, 421705: {}, 425410: {}, 421770: {}, 423863: {}, 427269: {}, 423590: {}, 423811: {}, 421822: {}, 421835: {}, 427035: {}, 421848: {}, 421588: {}, 421926: {}, 421965: {}, 421978: {}, 422199: {}, 423915: {}, 422017: {}, 423733: {}, 423746: {}, 425449: {}, 427152: {}, 421952: {}, 422771: {}, 426983: {}, 427048: {}, 422043: {}, 422004: {}, 422290: {}, 423785: {}, 425514: {}, 422069: {}, 422342: {}, 425280: {}, 425319: {}, 422108: {}, 422212: {}, 422134: {}, 422355: {}, 423603: {}, 427243: {}, 422264: {}, 422511: {}, 422303: {}, 422394: {}, 423798: {}, 422329: {}, 423824: {}, 422368: {}, 422940: {}, 425345: {}, 422446: {}, 422459: {}, 422550: {}, 423005: {}, 423044: {}, 422251: {}, 423759: {}, 422589: {}, 422784: {}, 425397: {}, 422602: {}, 425306: {}, 422628: {}, 423707: {}, 423876: {}, 422797: {}, 422823: {}, 422849: {}, 422862: {}, 421757: {}, 421536: {}, 422927: {}, 421575: {}, 422238: {}, 424045: {}, 422992: {}, 425423: {}, 423018: {}, 423031: {}, 423057: {}, 423083: {}, 421601: {}, 422433: {}, 423096: {}, 423109: {}, 423122: {}, 422498: {}, 423174: {}, 423200: {}, 423213: {}, 423616: {}, 421692: {}, 423681: {}, 421809: {}, 422082: {}, 423941: {}, 422745: {}, 423967: {}, 422901: {}, 423668: {}, 424162: {}, 425865: {}, 425917: {}, 422758: {}, 421445: {}, 422680: {}, 425462: {}, 425358: {}, 425371: {}, 425488: {}, 426515: {}, 425592: {}, 423642: {}, 422095: {}, 422966: {}, 421432: {}, 423655: {}, 424032: {}, 428049: {}, 426580: {}, 426281: {}, 424448: {}, 425722: {}, 424578: {}, 425566: {}, 424591: {}, 424877: {}, 424916: {}, 426697: {}, 424175: {}, 425527: {}, 425098: {}, 'ID': {}, 'Gender': {}, 428452: {}, 423291: {}, 424656: {}, 421250: {}, 421354: {}, 421120: {}, 421198: {}, 423330: {}, 423551: {}, 426073: {}, 424487: {}, 424643: {}, 426827: {}, 424214: {}, 428478: {}, 423512: {}, 421016: {}, 425995: {}, 423356: {}, 424513: {}, 424617: {}, 422186: {}, 422719: {}, 421159: {}, 422472: {}, 425267: {}, 422615: {}, 422485: {}, 422732: {}, 422121: {}, 423135: {}, 422654: {}, 422381: {}, 422953: {}, 426203: {}, 422173: {}, 423226: {}, 421861: {}, 421497: {}, 422147: {}, 421172: {}, 421913: {}, 423694: {}, 421523: {}, 423187: {}, 422420: {}, 422706: {}, 423161: {}, 422524: {}, 422537: {}, 422225: {}, 421874: {}, 422641: {}, 424968: {}, 428283: {}, 428400: {}, 428543: {}, 428465: {}, 423239: {}, 421068: {}, 421094: {}, 425228: {}, 424604: {}, 421562: {}, 423070: {}, 421627: {}, 426151: {}, 421549: {}})

In [51]:
list(G.nodes)

[427685,
 428855,
 428309,
 428686,
 428920,
 428322,
 428803,
 428829,
 428907,
 428335,
 428660,
 428751,
 428868,
 428348,
 428361,
 428374,
 428504,
 428647,
 428387,
 428673,
 428413,
 428426,
 428439,
 428517,
 428296,
 428712,
 428790,
 428530,
 428738,
 428556,
 428881,
 428569,
 428582,
 428621,
 428595,
 428608,
 428725,
 428699,
 428491,
 428894,
 428764,
 428634,
 428816,
 428777,
 428842,
 428933,
 421055,
 424292,
 421458,
 421653,
 421471,
 426502,
 428075,
 421640,
 427880,
 428062,
 428153,
 428166,
 421718,
 422576,
 424747,
 423486,
 427425,
 424071,
 427126,
 427412,
 424110,
 424149,
 424188,
 424279,
 424669,
 425696,
 425878,
 425982,
 426476,
 426528,
 424136,
 424370,
 426385,
 427334,
 425800,
 426086,
 424123,
 425670,
 425813,
 424305,
 424396,
 424474,
 424695,
 427503,
 424721,
 427347,
 424734,
 424760,
 427620,
 424773,
 424799,
 426619,
 424825,
 427308,
 424838,
 427516,
 424851,
 424890,
 424903,
 427373,
 424929,
 424942,
 428140,
 424981,
 425020,
 427360,
 425033,
 425046,
 426671,
 425059,
 425085,
 425137,
 427555,
 425163,
 425202,
 427399,
 425215,
 425618,
 425683,
 426541,
 428179,
 425969,
 427321,
 425748,
 428127,
 425852,
 426047,
 426060,
 426099,
 426255,
 426268,
 426489,
 426554,
 426567,
 426606,
 426658,
 428023,
 426632,
 426684,
 426736,
 426762,
 427451,
 426775,
 426788,
 426853,
 426866,
 426879,
 426957,
 427074,
 427256,
 427464,
 427646,
 427438,
 427386,
 427477,
 427490,
 427529,
 427581,
 427594,
 427607,
 427724,
 427737,
 427750,
 427841,
 427893,
 427919,
 427932,
 427958,
 428257,
 442219,
 421029,
 421042,
 421081,
 423304,
 423369,
 424409,
 425956,
 426450,
 426463,
 427087,
 421211,
 421328,
 423278,
 421107,
 421003,
 421133,
 424344,
 421367,
 421406,
 421185,
 421263,
 421276,
 424357,
 425553,
 426359,
 421289,
 428270,
 421302,
 423408,
 421315,
 421341,
 421380,
 423434,
 424331,
 421393,
 423252,
 423265,
 427139,
 423382,
 423343,
 423395,
 421237,
 423421,
 423473,
 423499,
 423538,
 423525,
 423564,
 423577,
 423928,
 423954,
 423980,
 426034,
 424006,
 424019,
 424058,
 425501,
 425761,
 425891,
 426008,
 426112,
 426372,
 427165,
 427191,
 427217,
 421224,
 427789,
 428101,
 423317,
 427698,
 428088,
 423447,
 423460,
 427022,
 427763,
 428114,
 427204,
 424097,
 427282,
 425007,
 425150,
 425241,
 425709,
 427867,
 425826,
 427776,
 426021,
 427815,
 426645,
 427711,
 426801,
 426814,
 426892,
 426918,
 426944,
 426970,
 427802,
 427568,
 427633,
 427659,
 427906,
 427945,
 428010,
 428205,
 428218,
 421887,
 427971,
 422407,
 424864,
 422836,
 426723,
 424227,
 424500,
 427672,
 424253,
 425657,
 425735,
 425774,
 425189,
 424526,
 424682,
 424708,
 426749,
 427984,
 425072,
 425176,
 426593,
 427542,
 425631,
 426320,
 425540,
 425787,
 425904,
 426216,
 425930,
 426190,
 426424,
 427100,
 421900,
 421991,
 424812,
 422979,
 426125,
 426905,
 427997,
 424994,
 424422,
 423902,
 424435,
 424084,
 424786,
 426242,
 424240,
 426437,
 426333,
 424266,
 424318,
 424461,
 424539,
 424565,
 424630,
 426229,
 424955,
 426710,
 426931,
 425111,
 426164,
 425579,
 425644,
 425943,
 426840,
 426346,
 427061,
 427854,
 428192,
 423993,
 421796,
 422030,
 422056,
 422563,
 422810,
 422875,
 422888,
 423148,
 428244,
 428231,
 423629,
 423889,
 424201,
 424383,
 424552,
 425124,
 425293,
 425436,
 425605,
 425839,
 426138,
 426177,
 426294,
 426307,
 426398,
 426411,
 426996,
 427009,
 427113,
 427178,
 427230,
 427295,
 427828,
 428036,
 421146,
 422693,
 422277,
 422316,
 422667,
 421419,
 425254,
 421484,
 421744,
 421939,
 422160,
 423720,
 425475,
 421510,
 421614,
 423772,
 425384,
 421666,
 421679,
 421783,
 422914,
 423837,
 423850,
 425332,
 421731,
 421705,
 425410,
 421770,
 423863,
 427269,
 423590,
 423811,
 421822,
 421835,
 427035,
 421848,
 421588,
 421926,
 421965,
 421978,
 422199,
 423915,
 422017,
 423733,
 423746,
 425449,
 427152,
 421952,
 422771,
 426983,
 427048,
 422043,
 422004,
 422290,
 423785,
 425514,
 422069,
 422342,
 425280,
 425319,
 422108,
 422212,
 422134,
 422355,
 423603,
 427243,
 422264,
 422511,
 422303,
 422394,
 423798,
 422329,
 423824,
 422368,
 422940,
 425345,
 422446,
 422459,
 422550,
 423005,
 423044,
 422251,
 423759,
 422589,
 422784,
 425397,
 422602,
 425306,
 422628,
 423707,
 423876,
 422797,
 422823,
 422849,
 422862,
 421757,
 421536,
 422927,
 421575,
 422238,
 424045,
 422992,
 425423,
 423018,
 423031,
 423057,
 423083,
 421601,
 422433,
 423096,
 423109,
 423122,
 422498,
 423174,
 423200,
 423213,
 423616,
 421692,
 423681,
 421809,
 422082,
 423941,
 422745,
 423967,
 422901,
 423668,
 424162,
 425865,
 425917,
 422758,
 421445,
 422680,
 425462,
 425358,
 425371,
 425488,
 426515,
 425592,
 423642,
 422095,
 422966,
 421432,
 423655,
 424032,
 428049,
 426580,
 426281,
 424448,
 425722,
 424578,
 425566,
 424591,
 424877,
 424916,
 426697,
 424175,
 425527,
 425098,
 'ID',
 'Gender']

In [33]:
nx.set_node_attributes(G,nodes)

In [36]:
list(G.nodes)

[427685,
 428855,
 428309,
 428686,
 428920,
 428322,
 428803,
 428829,
 428907,
 428335,
 428660,
 428751,
 428868,
 428348,
 428361,
 428374,
 428504,
 428647,
 428387,
 428673,
 428413,
 428426,
 428439,
 428517,
 428296,
 428712,
 428790,
 428530,
 428738,
 428556,
 428881,
 428569,
 428582,
 428621,
 428595,
 428608,
 428725,
 428699,
 428491,
 428894,
 428764,
 428634,
 428816,
 428777,
 428842,
 428933,
 421055,
 424292,
 421458,
 421653,
 421471,
 426502,
 428075,
 421640,
 427880,
 428062,
 428153,
 428166,
 421718,
 422576,
 424747,
 423486,
 427425,
 424071,
 427126,
 427412,
 424110,
 424149,
 424188,
 424279,
 424669,
 425696,
 425878,
 425982,
 426476,
 426528,
 424136,
 424370,
 426385,
 427334,
 425800,
 426086,
 424123,
 425670,
 425813,
 424305,
 424396,
 424474,
 424695,
 427503,
 424721,
 427347,
 424734,
 424760,
 427620,
 424773,
 424799,
 426619,
 424825,
 427308,
 424838,
 427516,
 424851,
 424890,
 424903,
 427373,
 424929,
 424942,
 428140,
 424981,
 425020,
 427360,
 425033,
 425046,
 426671,
 425059,
 425085,
 425137,
 427555,
 425163,
 425202,
 427399,
 425215,
 425618,
 425683,
 426541,
 428179,
 425969,
 427321,
 425748,
 428127,
 425852,
 426047,
 426060,
 426099,
 426255,
 426268,
 426489,
 426554,
 426567,
 426606,
 426658,
 428023,
 426632,
 426684,
 426736,
 426762,
 427451,
 426775,
 426788,
 426853,
 426866,
 426879,
 426957,
 427074,
 427256,
 427464,
 427646,
 427438,
 427386,
 427477,
 427490,
 427529,
 427581,
 427594,
 427607,
 427724,
 427737,
 427750,
 427841,
 427893,
 427919,
 427932,
 427958,
 428257,
 442219,
 421029,
 421042,
 421081,
 423304,
 423369,
 424409,
 425956,
 426450,
 426463,
 427087,
 421211,
 421328,
 423278,
 421107,
 421003,
 421133,
 424344,
 421367,
 421406,
 421185,
 421263,
 421276,
 424357,
 425553,
 426359,
 421289,
 428270,
 421302,
 423408,
 421315,
 421341,
 421380,
 423434,
 424331,
 421393,
 423252,
 423265,
 427139,
 423382,
 423343,
 423395,
 421237,
 423421,
 423473,
 423499,
 423538,
 423525,
 423564,
 423577,
 423928,
 423954,
 423980,
 426034,
 424006,
 424019,
 424058,
 425501,
 425761,
 425891,
 426008,
 426112,
 426372,
 427165,
 427191,
 427217,
 421224,
 427789,
 428101,
 423317,
 427698,
 428088,
 423447,
 423460,
 427022,
 427763,
 428114,
 427204,
 424097,
 427282,
 425007,
 425150,
 425241,
 425709,
 427867,
 425826,
 427776,
 426021,
 427815,
 426645,
 427711,
 426801,
 426814,
 426892,
 426918,
 426944,
 426970,
 427802,
 427568,
 427633,
 427659,
 427906,
 427945,
 428010,
 428205,
 428218,
 421887,
 427971,
 422407,
 424864,
 422836,
 426723,
 424227,
 424500,
 427672,
 424253,
 425657,
 425735,
 425774,
 425189,
 424526,
 424682,
 424708,
 426749,
 427984,
 425072,
 425176,
 426593,
 427542,
 425631,
 426320,
 425540,
 425787,
 425904,
 426216,
 425930,
 426190,
 426424,
 427100,
 421900,
 421991,
 424812,
 422979,
 426125,
 426905,
 427997,
 424994,
 424422,
 423902,
 424435,
 424084,
 424786,
 426242,
 424240,
 426437,
 426333,
 424266,
 424318,
 424461,
 424539,
 424565,
 424630,
 426229,
 424955,
 426710,
 426931,
 425111,
 426164,
 425579,
 425644,
 425943,
 426840,
 426346,
 427061,
 427854,
 428192,
 423993,
 421796,
 422030,
 422056,
 422563,
 422810,
 422875,
 422888,
 423148,
 428244,
 428231,
 423629,
 423889,
 424201,
 424383,
 424552,
 425124,
 425293,
 425436,
 425605,
 425839,
 426138,
 426177,
 426294,
 426307,
 426398,
 426411,
 426996,
 427009,
 427113,
 427178,
 427230,
 427295,
 427828,
 428036,
 421146,
 422693,
 422277,
 422316,
 422667,
 421419,
 425254,
 421484,
 421744,
 421939,
 422160,
 423720,
 425475,
 421510,
 421614,
 423772,
 425384,
 421666,
 421679,
 421783,
 422914,
 423837,
 423850,
 425332,
 421731,
 421705,
 425410,
 421770,
 423863,
 427269,
 423590,
 423811,
 421822,
 421835,
 427035,
 421848,
 421588,
 421926,
 421965,
 421978,
 422199,
 423915,
 422017,
 423733,
 423746,
 425449,
 427152,
 421952,
 422771,
 426983,
 427048,
 422043,
 422004,
 422290,
 423785,
 425514,
 422069,
 422342,
 425280,
 425319,
 422108,
 422212,
 422134,
 422355,
 423603,
 427243,
 422264,
 422511,
 422303,
 422394,
 423798,
 422329,
 423824,
 422368,
 422940,
 425345,
 422446,
 422459,
 422550,
 423005,
 423044,
 422251,
 423759,
 422589,
 422784,
 425397,
 422602,
 425306,
 422628,
 423707,
 423876,
 422797,
 422823,
 422849,
 422862,
 421757,
 421536,
 422927,
 421575,
 422238,
 424045,
 422992,
 425423,
 423018,
 423031,
 423057,
 423083,
 421601,
 422433,
 423096,
 423109,
 423122,
 422498,
 423174,
 423200,
 423213,
 423616,
 421692,
 423681,
 421809,
 422082,
 423941,
 422745,
 423967,
 422901,
 423668,
 424162,
 425865,
 425917,
 422758,
 421445,
 422680,
 425462,
 425358,
 425371,
 425488,
 426515,
 425592,
 423642,
 422095,
 422966,
 421432,
 423655,
 424032,
 428049,
 426580,
 426281,
 424448,
 425722,
 424578,
 425566,
 424591,
 424877,
 424916,
 426697,
 424175,
 425527,
 425098]

In [37]:
nx.attribute_assortativity_coefficient(G,'Gender')

/Users/PJMoon/opt/anaconda3/lib/python3.8/site-packages/networkx/algorithms/assortativity/correlation.py:263: RuntimeWarning: invalid value encountered in double_scalars
  r = (t - s) / (1 - s)

nan

In [38]:
list(G.edges())

[(427685, 428855),
 (427685, 426372),
 (427685, 426333),
 (427685, 426424),
 (427685, 426437),
 (427685, 428192),
 (427685, 428218),
 (427685, 442219),
 (427685, 424162),
 (427685, 424227),
 (427685, 424253),
 (427685, 424266),
 (427685, 425579),
 (427685, 425605),
 (427685, 425631),
 (427685, 425657),
 (427685, 425748),
 (427685, 425761),
 (427685, 425774),
 (427685, 426021),
 (427685, 426034),
 (427685, 426099),
 (427685, 426216),
 (427685, 426320),
 (427685, 426346),
 (427685, 427139),
 (427685, 427737),
 (427685, 427789),
 (427685, 428582),
 (428855, 428426),
 (428855, 428569),
 (428855, 428582),
 (428855, 428595),
 (428855, 428608),
 (428855, 428621),
 (428855, 428686),
 (428855, 428699),
 (428855, 428738),
 (428855, 428881),
 (428855, 428894),
 (428855, 428907),
 (428855, 428933),
 (428855, 442219),
 (428309, 428686),
 (428309, 428920),
 (428686, 428517),
 (428686, 428647),
 (428686, 428673),
 (428686, 428920),
 (428686, 428803),
 (428920, 428322),
 (428920, 428348),
 (428920, 428361),
 (428920, 428387),
 (428920, 428426),
 (428920, 428517),
 (428920, 428530),
 (428920, 428569),
 (428920, 428595),
 (428920, 428725),
 (428920, 428738),
 (428920, 428803),
 (428920, 428868),
 (428920, 428933),
 (428322, 428803),
 (428322, 428829),
 (428322, 428907),
 (428322, 428387),
 (428803, 428595),
 (428803, 428725),
 (428803, 428738),
 (428803, 428413),
 (428803, 428621),
 (428803, 428790),
 (428803, 428816),
 (428803, 428907),
 (428803, 442219),
 (428829, 428725),
 (428829, 428881),
 (428829, 428907),
 (428829, 428842),
 (428907, 428712),
 (428907, 428725),
 (428907, 428777),
 (428907, 428894),
 (428907, 428816),
 (428907, 428933),
 (428907, 442219),
 (428335, 428660),
 (428335, 428751),
 (428335, 428868),
 (428660, 428439),
 (428751, 428738),
 (428751, 428842),
 (428751, 442219),
 (428868, 428361),
 (428868, 428426),
 (428868, 428439),
 (428868, 428517),
 (428868, 428530),
 (428868, 442219),
 (428348, 428348),
 (428361, 428374),
 (428361, 428504),
 (428361, 428647),
 (428374, 428387),
 (428374, 428439),
 (428647, 428517),
 (428647, 428491),
 (428647, 428777),
 (428387, 428673),
 (428673, 428439),
 (428413, 428413),
 (428413, 428712),
 (428413, 428933),
 (428413, 421640),
 (428413, 423317),
 (428517, 428296),
 (428517, 428712),
 (428517, 428790),
 (428712, 428881),
 (428712, 428894),
 (428790, 428582),
 (428790, 428595),
 (428790, 428621),
 (428790, 428699),
 (428530, 428738),
 (428738, 428764),
 (428738, 428842),
 (428738, 442219),
 (428556, 428881),
 (428881, 428764),
 (428881, 428816),
 (428881, 428842),
 (428881, 428894),
 (428881, 428933),
 (428881, 428088),
 (428881, 428205),
 (428881, 442219),
 (428582, 428621),
 (428582, 428595),
 (428582, 428699),
 (428582, 428816),
 (428582, 442219),
 (428621, 428595),
 (428621, 428608),
 (428621, 428699),
 (428621, 428777),
 (428595, 428608),
 (428595, 428725),
 (428595, 428699),
 (428608, 428699),
 (428608, 428725),
 (428699, 421302),
 (428894, 428764),
 (428894, 428933),
 (428764, 428634),
 (428764, 428816),
 (428764, 442219),
 (428816, 426463),
 (428816, 427087),
 (428816, 442219),
 (428933, 428257),
 (428933, 442219),
 (421055, 424292),
 (421055, 423304),
 (421055, 426463),
 (421055, 427087),
 (421055, 428101),
 (424292, 424071),
 (424292, 425813),
 (424292, 427126),
 (424292, 428166),
 (424292, 427412),
 (421458, 421653),
 (421471, 426502),
 (421471, 428075),
 (421471, 424110),
 (421471, 424149),
 (421471, 424188),
 (426502, 424110),
 (426502, 424149),
 (426502, 424188),
 (426502, 424279),
 (426502, 424370),
 (426502, 424669),
 (426502, 425696),
 (426502, 425982),
 (426502, 426086),
 (426502, 426567),
 (426502, 427308),
 (428075, 421640),
 (428075, 424110),
 (428075, 424136),
 (428075, 424149),
 (428075, 424188),
 (428075, 424279),
 (428075, 424305),
 (428075, 424370),
 (428075, 424474),
 (428075, 424669),
 (428075, 424695),
 (428075, 425696),
 (428075, 425800),
 (428075, 425813),
 (428075, 425878),
 (428075, 425982),
 (428075, 426060),
 (428075, 426086),
 (428075, 426385),
 (428075, 426476),
 (428075, 427126),
 (428075, 427516),
 (428075, 427646),
 (428075, 427750),
 (428075, 427893),
 (428075, 427932),
 (428075, 428257),
 (421640, 427880),
 (421640, 428062),
 (421640, 428153),
 (421640, 428166),
 (421640, 424188),
 (421640, 427698),
 (421640, 428088),
 (421640, 423993),
 (421640, 428205),
 (421640, 428257),
 (427880, 424734),
 (427880, 424747),
 (427880, 424773),
 (427880, 424799),
 (427880, 427074),
 (427880, 428062),
 (427880, 428257),
 (427880, 442219),
 (428062, 424734),
 (428062, 424747),
 (428062, 424799),
 (428062, 425618),
 (428062, 425683),
 (428062, 426541),
 (428062, 427724),
 (428062, 428179),
 (428062, 428257),
 (428062, 442219),
 (428153, 424370),
 (428153, 425748),
 (428153, 426255),
 (428153, 427334),
 (428153, 427503),
 (428153, 427555),
 (428153, 427646),
 (428153, 427724),
 (428153, 427932),
 (428153, 428166),
 (428153, 428179),
 (428166, 421718),
 (428166, 424071),
 (428166, 424851),
 (428166, 425852),
 (428166, 426268),
 (428166, 426775),
 (428166, 427126),
 (428166, 427321),
 (428166, 427412),
 (428166, 427477),
 (428166, 427516),
 (428166, 427724),
 (428166, 427932),
 (428166, 428127),
 (428166, 428140),
 (428166, 428088),
 (428166, 428114),
 (428166, 428257),
 (428166, 442219),
 (421718, 423993),
 (421718, 428218),
 (421718, 442219),
 (422576, 424747),
 (422576, 422251),
 (422576, 423759),
 (422576, 423863),
 (422576, 425280),
 (422576, 427152),
 (422576, 425449),
 (424747, 424799),
 (423486, 427425),
 (423486, 423473),
 (423486, 427893),
 (423486, 423577),
 (423486, 426268),
 (423486, 427165),
 (423486, 425033),
 (423486, 424422),
 (423486, 425137),
 (423486, 426424),
 (423486, 428101),
 (423486, 428231),
 (423486, 428244),
 (423486, 442219),
 (423486, 424942),
 (423486, 425007),
 (423486, 426788),
 (423486, 426892),
 (423486, 427633),
 (423486, 428036),
 (427425, 426268),
 (427425, 426957),
 (427425, 427308),
 (427425, 427373),
 (427425, 428140),
 (427425, 427490),
 (427425, 427607),
 (427425, 428244),
 (427425, 442219),
 (424071, 427126),
 (424071, 427412),
 (424071, 424279),
 (424071, 425878),
 (427126, 425813),
 (427126, 426060),
 (427126, 425696),
 (427126, 426385),
 (427126, 427412),
 (427126, 426489),
 (427126, 427750),
 (427126, 428257),
 (427126, 442219),
 (427412, 424760),
 (427412, 427308),
 (427412, 425969),
 (427412, 442219),
 (427412, 427919),
 (427412, 427958),
 (427412, 428036),
 (427412, 428049),
 (424110, 424149),
 (424110, 424188),
 (424110, 424279),
 (424110, 424669),
 (424110, 425696),
 (424110, 425878),
 (424110, 425982),
 (424110, 426476),
 (424110, 426528),
 (424110, 424695),
 (424110, 424786),
 (424110, 424812),
 (424110, 426242),
 (424149, 424188),
 (424149, 424279),
 (424149, 425696),
 (424149, 426476),
 (424149, 424669),
 (424149, 424838),
 (424149, 427750),
 (424149, 428257),
 (424149, 442219),
 (424188, 424279),
 (424188, 425800),
 (424188, 425878),
 (424188, 425982),
 (424188, 426086),
 (424279, 424123),
 (424279, 424669),
 (424279, 425670),
 (424279, 425696),
 (424279, 425800),
 (424279, 425878),
 (424279, 425982),
 (424279, 426086),
 (424279, 426528),
 (424279, 425059),
 (424669, 425878),
 (425696, 424136),
 (425696, 425969),
 (425696, 427321),
 (425696, 427516),
 (425878, 425800),
 (425878, 428127),
 (425878, 442219),
 (425878, 427022),
 (425878, 427776),
 (425878, 428088),
 (425982, 426086),
 (425982, 426476),
 (425982, 427620),
 (425982, 427490),
 (425982, 428088),
 (425982, 428231),
 (425982, 428257),
 (426476, 427815),
 (426476, 442219),
 (424136, 424370),
 (424136, 426385),
 (424136, 427334),
 (424136, 423343),
 (424370, 424396),
 (424370, 426385),
 (424370, 427750),
 (426385, 424305),
 (426385, 424396),
 (426385, 424474),
 (426385, 426489),
 (426385, 427750),
 (426385, 442219),
 (427334, 427347),
 (427334, 427451),
 (427334, 427464),
 (427334, 427503),
 (427334, 427555),
 (427334, 427646),
 (427334, 421224),
 (427334, 426333),
 (427334, 428257),
 (425800, 428127),
 (425800, 442219),
 (426086, 424721),
 (426086, 426047),
 (426086, 426606),
 (425670, 426541),
 (425813, 427750),
 (425813, 428257),
 (425813, 442219),
 (424305, 427750),
 (424305, 428101),
 (424396, 424474),
 (424396, 427750),
 (424396, 442219),
 (424474, 427555),
 (424474, 427750),
 (424695, 427503),
 (424695, 427165),
 (424695, 428088),
 (424695, 424708),
 (424695, 424812),
 (424695, 426229),
 (424695, 427386),
 (424695, 428218),
 (424695, 442219),
 (427503, 425085),
 (427503, 425202),
 (427503, 426684),
 (427503, 427451),
 (427503, 427555),
 (427503, 427646),
 (427503, 442219),
 (424721, 427347),
 (424721, 426372),
 (424721, 426606),
 (424721, 426749),
 (424721, 427672),
 (424721, 427971),
 (424721, 428218),
 (424721, 421445),
 (424721, 422316),
 (424721, 422355),
 (424721, 423798),
 (424721, 425410),
 (424721, 427074),
 (427347, 424890),
 (427347, 425033),
 (427347, 425215),
 (427347, 427555),
 (424734, 424799),
 (424760, 427620),
 (424760, 427217),
 (424760, 427932),
 (424760, 426229),
 (424760, 428231),
 (424760, 424162),
 (424760, 424552),
 (424760, 424981),
 (424760, 426177),
 (424760, 426580),
 (424760, 426684),
 (424760, 427958),
 (424760, 424916),
 (424760, 424929),
 (424760, 425046),
 (427620, 424929),
 (427620, 424981),
 (427620, 427321),
 (427620, 428140),
 (424773, 424799),
 (424773, 428257),
 (424799, 426619),
 (426619, 425163),
 (426619, 426658),
 (426619, 427321),
 (426619, 427516),
 (426619, 428023),
 (426619, 427542),
 (426619, 427945),
 (426619, 427984),
 (424825, 427308),
 (424825, 424383),
 (424825, 426775),
 (424825, 427919),
 (427308, 425059),
 (427308, 427321),
 (427308, 427516),
 (427308, 428140),
 (427308, 428127),
 (427308, 427919),
 (427308, 426229),
 (427308, 442219),
 (427308, 427958),
 (424838, 427516),
 (424838, 427750),
 (424838, 427984),
 (424838, 426814),
 (424838, 426853),
 (424838, 428218),
 (424838, 442219),
 (427516, 424903),
 (427516, 427373),
 (427516, 428140),
 (427516, 428127),
 (427516, 424890),
 (427516, 428218),
 (427516, 427958),
 (424851, 426229),
 (424851, 427906),
 (424851, 428244),
 (424890, 423954),
 (424890, 425163),
 (424890, 427984),
 (424890, 426814),
 (424890, 426853),
 (424890, 442219),
 (424903, 427373),
 (424903, 427204),
 (424903, 427984),
 (424903, 426853),
 (424903, 442219),
 (427373, 427399),
 (427373, 427438),
 (427373, 428140),
 (427373, 428127),
 (427373, 427282),
 (427373, 428088),
 (427373, 424682),
 (427373, 426593),
 (427373, 428218),
 (427373, 442219),
 (424929, 423616),
 (424929, 425046),
 (424929, 426580),
 (424929, 426684),
 (424929, 427958),
 (424942, 428140),
 (424942, 427217),
 (424942, 428231),
 (424942, 426697),
 (424942, 426788),
 (424942, 428036),
 (424942, 426099),
 (424942, 426632),
 (424942, 427438),
 (424942, 427646),
 (428140, 426255),
 (428140, 427321),
 (428140, 427438),
 (428140, 427490),
 (428140, 427529),
 (428140, 427581),
 (428140, 427594),
 (428140, 427724),
 (428140, 427841),
 (428140, 427932),
 (428140, 427958),
 (428140, 428023),
 (428140, 428179),
 (428140, 428257),
 (424981, 423525),
 (424981, 427282),
 (424981, 442219),
 (424981, 425722),
 (424981, 427958),
 (424981, 427763),
 (425020, 427360),
 (425020, 427217),
 (425020, 428231),
 (425020, 442219),
 (425020, 425007),
 (425020, 426697),
 (425020, 426788),
 (425020, 428036),
 (425020, 425059),
 (425020, 426099),
 (427360, 426788),
 (425033, 427204),
 (425033, 427841),
 (425033, 426606),
 (425033, 426814),
 (425033, 427984),
 (425033, 425046),
 (425033, 426853),
 (425046, 426671),
 (425046, 427217),
 (425046, 427841),
 (425046, 442219),
 (425046, 425059),
 (425046, 426294),
 (425046, 426580),
 (425046, 426684),
 (425046, 427958),
 (426671, 426658),
 (426671, 428023),
 (426671, 426736),
 (426671, 426866),
 (425059, 424916),
 (425059, 424877),
 (425059, 426554),
 (425059, 426775),
 (425059, 427919),
 (425085, 427165),
 (425085, 424318),
 (425085, 426125),
 (425085, 426710),
 (425085, 426931),
 (425085, 427386),
 (425085, 427737),
 (425085, 428010),
 (425085, 428244),
 (425085, 442219),
 (425085, 425917),
 (425085, 427061),
 (425137, 427555),
 (425137, 423499),
 (425137, 427165),
 (425137, 426268),
 (425137, 428244),
 (427555, 426853),
 (427555, 426957),
 (427555, 427451),
 (427555, 427945),
 (425163, 427841),
 (425163, 426593),
 (425163, 426801),
 (425163, 426853),
 (425163, 427542),
 (425163, 427945),
 (425163, 428218),
 (425202, 427399),
 (425202, 427217),
 (425202, 422342),
 (425202, 427061),
 (425202, 424175),
 (425202, 426775),
 (425202, 427919),
 (427399, 426099),
 (427399, 426554),
 (427399, 426567),
 (425215, 426606),
 (425215, 426749),
 (425215, 427971),
 (425215, 428218),
 (425215, 442219),
 (425618, 425683),
 (425618, 426541),
 (425618, 428179),
 (425618, 426996),
 (425683, 426541),
 (425683, 428179),
 (426541, 428179),
 (426541, 428257),
 (426541, 442219),
 (426541, 426996),
 (428179, 427724),
 (428179, 428127),
 (428179, 442219),
 (427321, 426658),
 (427321, 427490),
 (427321, 442219),
 (425748, 424227),
 (425748, 426320),
 (425748, 427672),
 (428127, 427646),
 (428127, 427724),
 (428127, 428257),
 (425852, 427217),
 (425852, 427282),
 (425852, 425904),
 (425852, 425943),
 (425852, 426112),
 (425852, 426125),
 (425852, 442219),
 (425852, 427230),
 (425852, 424097),
 (425852, 424201),
 (425852, 424916),
 (425852, 425930),
 (425852, 426099),
 (425852, 426177),
 (425852, 426554),
 (425852, 426567),
 (425852, 427789),
 (425852, 427919),
 (426047, 423954),
 (426047, 423980),
 (426047, 423928),
 (426047, 426021),
 (426047, 426034),
 (426047, 427815),
 (426047, 427256),
 (426047, 427542),
 (426047, 427386),
 (426047, 425423),
 (426047, 425501),
 (426047, 425865),
 (426047, 426515),
 (426047, 427633),
 (426099, 427217),
 (426099, 428088),
 (426099, 425943),
 (426099, 442219),
 (426099, 421783),
 (426099, 422862),
 (426099, 423642),
 (426099, 424097),
 (426099, 425579),
 (426099, 425930),
 (426099, 426177),
 (426099, 426697),
 (426099, 426892),
 (426099, 427789),
 (426255, 427204),
 (426255, 427841),
 (426255, 423538),
 (426255, 425176),
 (426255, 425189),
 (426255, 427932),
 (426255, 426879),
 (426268, 427893),
 (426268, 424539),
 (426268, 424422),
 (426268, 426840),
 (426268, 426957),
 (426268, 428244),
 (426268, 421770),
 (426268, 422004),
 (426268, 423863),
 (426268, 425514),
 (426489, 421315),
 (426489, 421380),
 (426489, 421393),
 (426489, 423421),
 (426489, 423434),
 (426489, 424331),
 (426489, 427750),
 (426489, 427646),
 (426489, 428101),
 (426554, 428088),
 (426554, 424916),
 (426554, 426580),
 (426554, 427919),
 (426567, 424019),
 (426567, 427282),
 (426567, 428231),
 (426567, 442219),
 (426567, 425124),
 (426567, 425098),
 (426567, 425930),
 (426567, 426697),
 (426567, 428049),
 (426567, 427490),
 (426606, 427971),
 (426606, 428218),
 (426658, 428023),
 (426658, 427737),
 (426658, 427711),
 (426658, 427386),
 (426658, 428257),
 (426658, 427256),
 (428023, 426632),
 (428023, 426736),
 (428023, 426762),
 (428023, 426866),
 (428023, 427256),
 (428023, 427386),
 (428023, 427737),
 (428023, 427815),
 (428023, 428231),
 (428023, 428244),
 (428023, 442219),
 (426684, 426229),
 (426684, 428231),
 (426684, 426580),
 (426684, 427958),
 (426736, 426762),
 (426736, 426970),
 (426736, 427386),
 (426736, 442219),
 (426762, 427451),
 (426762, 427165),
 (426762, 427841),
 (426762, 423499),
 (426762, 425241),
 (426762, 427386),
 (426762, 427906),
 (426762, 426879),
 (426762, 428244),
 (426762, 427958),
 (427451, 426879),
 (427451, 427932),
 (427451, 442219),
 (426775, 427022),
 (426775, 427776),
 (426775, 428231),
 (426775, 442219),
 (426775, 424916),
 (426775, 425579),
 (426775, 427919),
 (426788, 427022),
 (426788, 427217),
 (426788, 425007),
 (426788, 426697),
 (426788, 427633),
 (426788, 428036),
 (426853, 424682),
 (426853, 424708),
 (426853, 424864),
 (426853, 427542),
 (426853, 427945),
 (426853, 427984),
 (426853, 428218),
 (426853, 442219),
 (426866, 427542),
 (426879, 427204),
 (426879, 425072),
 (426879, 425176),
 (426879, 425189),
 (426879, 427932),
 (426879, 427945),
 (426879, 428218),
 (426957, 425111),
 (426957, 424786),
 (426957, 427386),
 (426957, 428244),
 (427074, 442219),
 (427074, 421705),
 (427074, 422056),
 (427074, 422134),
 (427074, 422316),
 (427074, 422329),
 (427074, 422355),
 (427074, 423018),
 (427074, 423148),
 (427074, 423798),
 (427074, 423824),
 (427074, 425410),
 (427074, 426372),
 (427074, 427009),
 (427074, 421445),
 (427074, 422498),
 (427074, 427100),
 (427074, 427113),
 (427074, 427191),
 (427074, 427659),
 (427256, 427815),
 (427256, 427386),
 (427256, 428192),
 (427256, 428244),
 (427256, 442219),
 (427256, 425462),
 (427256, 425488),
 (427256, 425501),
 (427256, 425592),
 (427256, 426138),
 (427256, 425423),
 (427464, 427646),
 (427646, 427750),
 (427646, 427724),
 (427646, 428088),
 (427646, 428257),
 (427646, 442219),
 (427438, 428218),
 (427438, 428244),
 (427438, 428257),
 (427438, 442219),
 (427438, 427958),
 (427386, 427815),
 (427386, 427945),
 (427386, 426970),
 (427386, 428010),
 (427386, 427477),
 (427386, 427633),
 (427386, 428244),
 (427477, 427802),
 (427477, 427841),
 (427477, 428218),
 (427490, 426697),
 (427529, 428257),
 (427529, 442219),
 (427594, 428244),
 (427607, 427776),
 (427607, 427867),
 (427607, 427568),
 (427607, 424461),
 (427607, 428244),
 (427724, 427282),
 (427724, 427802),
 (427724, 427841),
 (427724, 428088),
 (427724, 442219),
 (427737, 426372),
 (427737, 427672),
 (427737, 424084),
 (427737, 424266),
 (427737, 424318),
 (427737, 424422),
 (427737, 424435),
 (427737, 424539),
 (427737, 425644),
 (427737, 425826),
 (427737, 426112),
 (427737, 426125),
 (427737, 426164),
 (427737, 426424),
 (427737, 426437),
 (427737, 427061),
 (427737, 427737),
 (427737, 427789),
 (427737, 428218),
 (427737, 428231),
 (427737, 428244),
 (427737, 442219),
 (427737, 426346),
 (427750, 421276),
 (427750, 421315),
 (427750, 421380),
 (427750, 421393),
 (427750, 423395),
 (427750, 423421),
 (427750, 423434),
 (427750, 424331),
 (427750, 425553),
 (427750, 427087),
 (427750, 427893),
 (427750, 428101),
 (427750, 442219),
 (427841, 425150),
 (427841, 426918),
 (427841, 427165),
 (427841, 427204),
 (427841, 427217),
 (427841, 427802),
 (427841, 427698),
 (427841, 427893),
 (427841, 427906),
 (427841, 428010),
 (427841, 428114),
 (427841, 428205),
 (427841, 426645),
 (427841, 428218),
 (427841, 428244),
 (427841, 442219),
 (427893, 421341),
 (427893, 423252),
 (427893, 423473),
 (427893, 423499),
 (427893, 423525),
 (427893, 423538),
 (427893, 423564),
 (427893, 423577),
 (427893, 425501),
 (427893, 427165),
 (427893, 427191),
 (427893, 427217),
 (427893, 428101),
 (427893, 427698),
 (427893, 428244),
 (427893, 428257),
 (427893, 442219),
 (427919, 427217),
 (427919, 428231),
 (427919, 442219),
 (427919, 424916),
 (427919, 427230),
 (427919, 427958),
 (427919, 428036),
 (427919, 428049),
 (427932, 427204),
 (427932, 428088),
 (427932, 423538),
 (427932, 425072),
 (427932, 425176),
 (427932, 425189),
 (427932, 426372),
 (427932, 426801),
 (427932, 427100),
 (427932, 427945),
 (427932, 427971),
 (427932, 427984),
 (427932, 442219),
 (427932, 428205),
 (427932, 428218),
 ...]

In [ ]:
g = ig.Graph()

In [ ]:
g.add_vertices([i for i in range(0,612)])

In [ ]:
print(g)

In [ ]:
link['pair'] = list(zip(link['Source'],link['Target']))

In [ ]:
link

In [ ]:
G=ig.Graph()

In [ ]:
G

In [ ]:
print(G)

In [ ]:
G.add_vertices(3)

In [ ]:
G.add_edges([(0,1),(1,2)])

In [ ]:
G.add_edges([(2,0)])

In [ ]:
G.add_vertices(3)

In [ ]:
G.add_edges([(2, 3), (3, 4), (4, 5), (5, 3)])

In [ ]:
print(G)

In [ ]:
g = ig.Graph.Tree(127,2)

In [ ]:
ig.summary(g)

In [ ]:
g2 = ig.Graph.Tree(127,2)

In [ ]:
g2.get_edgelist() == g.get_edgelist()

In [ ]:
g2.get_edgelist()

In [ ]:
g= ig.Graph.GRG(100,0.2)

In [ ]:
ig.summary(g)

In [ ]:
g2 = ig.Graph.GRG(100,0.2)

In [ ]:
g.get_edgelist() == g2.get_edgelist()

In [ ]:
g.vs

In [ ]:
g.vs['Gender'] = ['Female','Female']

In [ ]:
g.vs[0]

In [ ]:
g.vs[0].attributes()

In [ ]:
g.vs[0]['Gender'] = 'Male'

In [ ]:
g.vs[0]

In [ ]:
g.vs['Gender']

In [ ]:
link['pair']

In [ ]:
G.add_edges(link['pair']-1)

In [ ]:
def get_data(filename):
    with open(filename, 'r', encoding = 'utf8') as rf:
        lines = rf.read().split("\n")
        data = [line.split("\t") for line in lines]
        header =data[0]
        data = data[1:]
    return header, data

In [ ]:
node_header, node_data = get_data(r'/Users/PJMoon/Data_Science_Projects/SNA/Assortativity/Nodes with attributes.csv')

In [ ]:
node_header

In [ ]:
node_data[0]

In [ ]:
a

In [ ]:
edge_header, edge_data = get_data(r'/Users/PJMoon/Data_Science_Projects/SNA/Assortativity/Links - Intragroup.csv')

In [ ]:
edge_header

In [ ]:
G = nx.Graph()

In [ ]:
for node in node_data:
    print(node[1])

In [ ]:
for node in node_data:
    G.add_node(int(node[0]), Gender = node[13])